*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* ================   HOME ============== */
.home {
  background-image: url(../images/events-heavenly-header.jpg);
  background-size: 100% 100%;
}
.homeLayer{
  background-color:rgba(231, 186, 117, 0.61) ;
  opacity: 0.75;
  
}

#event h2 {
  margin-top: 15%;
  font-family: 'ADLaM Display', cursive;
  font-size: 5rem;

}

#event p { 
  font-family: 'Tilt Neon', cursive;
  font-size:1.5rem;

}


.p-text{
  font-family: 'Tilt Neon', cursive;
  text-align: start;
}


#event h2,
p {
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color:black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.open{
  font-size:30px;
  cursor:pointer
}

.firstA{
  color: #7097A8;
}
.sidenav a {
  padding: 20px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition:all 0.3s;
  color: #7097A8;
}

.sidenav a:hover{
  color:#e0dacc ;
  transform: scale(1.1);
}
.textCh{
  color:#D62E33 ;
  transition:all 0.4s;
  cursor: pointer;
  
}
.textCh:hover{
  color:#FFF ;
  
}

.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#homeInfo {
  transition: all 0.5s;
}

.divColor{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.divColor:hover{
  transform: scale(1.2);
}

.bg-red{
  background-color: #a10409;
  
}
.bg-bnafsg{
  background-color:rgb(211, 25, 211);
}
.bg-bllu{
  background-color: #84adbe;
}
.bg-gray{
  background-color:rgb(136, 135, 135);
}


/* ======================== singers  =============================== */

#singers {
  padding: 100px 0;
  margin: 0px auto;
  width: 50%;
  text-align: center;

}
#singers h3 {
  padding: 10px;
  margin: 0;
  background-color: #ad6301;
  cursor: pointer;
  color: white;
  font-family: 'Tilt Warp', cursive;
}
#singers div {
  padding: 10px;
  background-color: #e0dacc ;
  display: none;

}
/* ========================================================= */

#countDownDate {

  background-image: url(../images/invitation-2508607__340.jpg);
  background-size: 100% 100%;
  position: relative;
  height: 330px;
  z-index: -1;

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 186, 117, 0.61);
  opacity: 0.85;
  
  
  
}

.tim {
  padding: 50px;
  border: 1px solid #FFF;
  
}

#hire-me{
  background-color:#ad6301;
  
}
#hire-me .head h2 {
  text-transform: uppercase;
  font-size: 35px;
  color:black;
  font-weight: bold;
  margin-bottom: 20px;
}

#hire-me .head p {
  
  font-weight: 300;
  font-size: 16px;
  text-align:left;
}

#hire-me .con-info h3 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#hire-me .con-info p {
  font-size: 16px;
  line-height: 26px;
}

#hire-me .icons {
  margin-top: 50px;
}

#hire-me .icons p {
  margin-bottom: 35px;
}

#hire-me i {
  margin-right: 20px;
}

#hire-me .black {
  color: #000000 !important;
}


#hire-me .con-info .con-social {
  margin-top: 60px;
  color:#000000;

}

#hire-me .con-info .con-social i {
  margin-right: 10px;
  border: 2px solid #e0dacc ;;
  width: 40px;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
}

#hire-me .con-info .con-social i:hover {
  color: #fff;
  background-color: #000000;
  border: 1px solid #020202;
}

#hire-me form input,
#hire-me form textarea {
  margin-bottom: 20px;
  border-radius: 0;
  background-color:#e0dacc ;
  box-shadow: none;
}


#hire-me form textarea {
  height: 200px;
  /* resize: vertical; */
}

#hire-me form button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
  text-transform: uppercase
}

#char {
  font-size: 20px;
  color: #000000;
}
